<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_review.user.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_review.book_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @book_review.review %>
</p>

<%= link_to 'Edit', edit_book_review_path(@book_review) %> |
<%= link_to 'Back to book', controller: "books", action: "show", id: @book_review.book_id %>
<%= link_to 'Edit List review', book_reviews_path %>


