<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>

<p>
  <%= image_tag(@book.image) %>
</p>

<div class="col-sm-4">
    <div class="card bg-light mb-3" style="max-width: 40rem;">
      <div class="card-header"><h2>Review</h2></div>
      <div class="card-body">
      <%= form_with(model: @book_review, local: true) do |form| %>
        <div class= "field">
          <%= form.text_area :review, :class => "form-control" %>
          <%= form.hidden_field :book_id, :value => @book.id %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
       <% end %>
       <h2>Review List: </h2>
       <ul>
          <% @book.book_review.each do |book_review|%>
              <p class="card-text">・<%= book_review.review %> (<%= book_review.user.name %>)</p>
          <% end %>
        </ul>
       </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
